# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Virtual environments
# =========================
venv/
venv*/
.env
.env.*

# =========================
# Distribution / packaging
# =========================
build/
dist/
*.egg-info/

# =========================
# Jupyter / misc
# =========================
.ipynb_checkpoints

# =========================
# OS-specific files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs & temp files
# =========================
*.log
